.Item {
    padding: 0.7rem 0.5rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid #eee;
    color: #555;
    margin: 0.5rem;

}

.Check {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    border:1px solid #555;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    padding: 0.5rem;


    .fas {
        color: #555;
        display: none;

        &.block {
            display: block;
        }

      
    }
}


.Input {
    outline: none;
    padding: 0.5rem 0;
    width: 95%;
    border: none;
    color: #555;

    &.checked {
        text-decoration: line-through;
    }
    
    
}



