.Item {
    padding: 0.5rem 1rem;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    // border: 1px solid #eee;
    color: #555;
    margin: 0.5rem;
    box-shadow: 1px 2px 4px #aeaeae;
}

.Check {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border:1px solid #aeaeae;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    padding: 0.5rem;


    .fas {
        color: #555;
        display: none;

        &.block {
            display: block;
        }

      
    }
}




.Remove {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    display: inline-block;
    color:#c80000;
    cursor: pointer;

}
